*{
  padding:0;
  margin:0;
}
.v2{

    .el-header{
      height:80px;
      border-bottom:2px solid rgba(182, 0, 5, 1);
      .logo{
        width:1002px;
        margin:15px auto;
        display:flex;
        flex-direction:row;
        img{
          height:50px;
        }
        .name{
          font-size:19px;
          font-weight:550;
          line-height:3.5;
          display:inline-block;
          margin-left:10px;
        }
      }
    }
    .el-main{
        margin:20px auto 0;
        .box-card{
            width:1000px;
            .el-table__empty-block{
                min-height:300px;
            }
        }
        .successTips{
          color:red;
          border:3px solid red;
          width:80px;
          font-size:16px;
          text-align:center;
          line-height:20px;
        }
        .certificates{
          border:1px solid #333;
          font-size:16px;
          line-height:30px;
          padding:10px;
          min-height:220px;
          .row-th{
            span{
              font-weight:700;
              text-decoration:underline;              
            }
          }
        }
    }
    .el-footer{
      width:100%;
      font-size:14px;
      text-align:center;
      line-height:60px;
      position:fixed;
      bottom:0;
      color:#aaa;
    }

}